@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.privacyPolicyBanner {
    padding: 140px 0 100px 0;

    @include respond-to("md") {
        padding: 140px 0 60px 0;
    }

    .bannerDesign {
        background-image: url('/assets/images/banner2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 290px;
        width: 100%;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to("sm") {
            background-image: none;
            height: auto;
            padding: 0;
        }

        p {
            color: #727272;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: center;

            @include respond-to("sm") {
                font-size: 16px;
            }
        }

        h1 {
            color: #121212;
            font-size: 42px;
            text-align: center;
            font-style: normal;
            margin: 0 0 6px 0;
            font-weight: 600;
            line-height: 53px;
            text-transform: capitalize;

            @include respond-to("sm") {
                font-size: 36px;
                line-height: 41px;
            }
        }
    }
}