@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.believeItsAi {
    padding: 100px 0 0 0;

    @include respond-to("sm") {
        padding: 60px 0 0 0;
    }



    .box {
        border-radius: 20px;
        background: linear-gradient(279deg, #FFF 0.82%, #DFE1E2 45.15%, #86989A 99.18%);
        backdrop-filter: blur(206.3000030517578px);
        padding: 60px;

        @include respond-to("xl") {
            padding: 40px;
        }

        @include respond-to("sm") {
            padding: 40px 20px;
            border-radius: 12px;
        }


        .grid {
            display: grid;
            grid-template-columns: 696px 1fr;
            gap: 60px;
            position: relative;
            align-items: center;

            @include respond-to("xl") {
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond-to("md") {
                grid-template-columns: 1fr;
                gap: 40px;
            }

            @include respond-to("sm") {
                gap: 20px;
            }

            .content {
                max-width: 616px;
                margin-left: auto;

                @include respond-to("md") {
                    max-width: 100%;
                }

                h3 {
                    color: #121212;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 58px;
                    text-transform: capitalize;
                    max-width: 616px;
                    margin: 0 0 14px 0;

                    @include respond-to("xl") {
                        font-size: 32px;
                        line-height: 40px;
                    }

                    @include respond-to("sm") {
                        font-size: 24px;
                        line-height: 34px;
                    }
                }

                p {
                    color: #727272;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0 0 40px 0;
                    max-width: 616px;

                    @include respond-to("sm") {
                        font-size: 16px;
                        margin: 0 0 20px 0;
                    }
                }

                .buttonDesign {
                    padding: 20px 0 0 0;

                    @include respond-to("sm") {
                        padding: 10px 0 0 0;
                    }

                    button {
                        border: none;
                        cursor: pointer;
                        border-radius: 12px;
                        background: #527475;
                        padding: 14px 20px;
                        color: #FFF;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        transition: .3s ease-in-out;

                        @include respond-to("sm") {
                            width: 100%;
                            justify-content: center;
                        }

                        svg {
                            transition: .3s ease-in-out;
                        }

                        &:hover {
                            svg {
                                transform: translateX(5px);
                            }
                        }
                    }
                }

                .allIconTextAlignment {
                    .iconText {
                        display: grid;
                        padding: 0 0 16px 0;
                        grid-template-columns: 20px 1fr;
                        gap: 13px;
                        align-items: center;

                        img {
                            display: block;
                        }

                        span {
                            display: block;
                            color: #565656;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            @include respond-to("sm") {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .imageBox {
                border-radius: 30px;
                border: 1px solid #FFF;
                background: linear-gradient(238deg, #DDE1E1 0.38%, rgba(255, 255, 255, 0.50) 99.62%);
                box-shadow: 0 0 39.4px 0 rgba(0, 0, 0, 0.06);
                padding: 24px;

                @include respond-to("sm") {
                    padding: 10px;
                    border-radius: 12px;
                }

                img {
                    display: block;
                    width: 100%;
                    border-radius: 14px 14px 0 0;
                    object-fit: cover;

                    @include respond-to("sm") {
                        border-radius: 12px 12px 0 0;
                    }
                }
            }
        }
    }
}