@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.womenCollection {
    background-image: url('/assets/images/common-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 140px 0 100px 0;

    .boxCenteralignment {
        max-width: 1080px;
        margin: 0 auto;

        .boxHeaderAlignment {
            padding: 0 0 32px 0;

            p {
                color: #727272;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: center;
            }

            h2 {
                color: #121212;
                font-size: 42px;
                text-align: center;
                font-style: normal;
                font-weight: 600;
                line-height: 53px;
                text-transform: capitalize;
            }

            .backIcon {
                border-radius: 16px;
                border: 1px solid rgba(0, 0, 0, 0.08);
                background: #FFF;
                box-shadow: 0 0 23.9px 0 rgba(0, 0, 0, 0.08);
                width: 64px;
                cursor: pointer;
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .settingBox {
            border-radius: 24px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            background: #FFF;
            padding: 32px;

            .informationBox {
                position: relative;
                border-radius: 24px;
                background: #F7F7F7;
                margin: 0 0 32px 0;
                padding: 24px;
            }

            .productInformation {
                position: relative;
                border-radius: 24px;
                background: #F7F7F7;
                padding: 24px;

                .textareaGrid {
                    padding: 0 0 16px 0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 16px;

                    label {
                        display: block;
                        color: #121212;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: 0 0 6px 0;
                    }

                    textarea {
                        padding: 14px 16px;
                        width: 100%;
                        color: rgba(18, 18, 18, 0.60);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        font-family: var(--font-heebo);
                        height: 134px;
                        resize: none;
                        border-radius: 12px;
                        border: 1px solid rgba(18, 18, 18, 0.10);
                        background: #FFF;
                        outline: none;
                    }

                    ::placeholder {
                        color: rgba(18, 18, 18, 0.60);
                        font-size: 18px;
                        font-style: normal;
                        font-family: var(--font-heebo);
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .addanother {
                    border-radius: 12px;
                    border: 1px solid rgba(18, 18, 18, 0.10);
                    opacity: 0.7;
                    background: #FFF;
                    padding: 24px;

                    .iconcenter {
                        display: flex;
                        justify-content: center;
                        padding: 0 0 6px 0;

                        img {
                            display: block;
                        }
                    }

                    p {
                        color: rgba(18, 18, 18, 0.60);
                        font-size: 18px;
                        font-style: normal;
                        text-align: center;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .estimateBox {
                    border-radius: 12px;
                    background: linear-gradient(90deg, #527475 0.02%, rgba(82, 116, 117, 0.66) 50.85%, rgba(255, 255, 255, 0.00) 99.97%);
                    padding: 14px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .buttonDesign {
                        button {
                            border-radius: 1000px;
                            border: 1px solid rgba(18, 18, 18, 0.10);
                            background: #527475;
                            padding: 10px 24px;
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            gap: 4px;
                            line-height: normal;
                        }
                    }

                    .line {
                        width: 1px;
                        height: 25px;
                    }

                    .contentAlignment {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }

                    .leftAlignment {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        p {
                            color: #FFF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        button {
                            padding: 2px 12px;
                            border-radius: 1000px;
                            border-radius: 1000px;
                            border: 1px solid #FFF;
                            background: rgba(255, 255, 255, 0.10);
                            border: 1px solid #FFF;
                            color: #FFF;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            background: rgba(255, 255, 255, 0.10);
                        }
                    }
                }

                .noteAlignment {
                    padding: 16px 0 0 0;

                    .note {
                        padding: 6px 13px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        border-radius: 1000px;
                        border: 1px solid #FF4747;
                        background: rgba(255, 71, 71, 0.05);
                        gap: 6px;

                        p {
                            color: #3F4153;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            span {
                                color: #FF4747;
                            }

                        }
                    }
                }

                .importantMessage {
                    padding: 8px 0 32px 0;

                    p {
                        color: #E23030;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .uploadGrid {
                    padding: 16px 0;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 16px;

                    label {
                        padding: 0 0 6px 0;
                        display: block;
                        color: #121212;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .title {
                padding: 0 0 12px 0;

                h3 {
                    color: #3F4153;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            .twoCol {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px;
                padding: 16px 0;
            }

            .subbox {
                border-radius: 20px;
                border: 1px solid rgba(18, 18, 18, 0.10);
                background: #FFF;
                padding: 24px;

                .items {
                    padding: 24px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);

                    .icontext {
                        display: flex;
                        align-items: center;
                        gap: 14px;

                        h5 {
                            color: #121212;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        p {
                            color: rgba(18, 18, 18, 0.50);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .icon {
                            border-radius: 12px;
                            border: 1px solid #E5E5E5;
                            background: #EDEDED;
                            width: 48px;
                            height: 48px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                        border: none;
                    }
                }
            }
        }
    }
}