@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;

.howItWorksPage {
    background: rgba(255, 255, 255, 0.20);
    padding: 100px 0;
    position: relative;

    @include respond-to("sm") {
        padding: 60px 0;
    }

    :global(.container) {
        position: relative;
        z-index: 9;
    }

    :global(.container) {
        @include respond-to("md") {
            padding: 0;
        }
    }

    &::before {
        filter: blur(100px);
        content: "";
        background: #527475;
        width: 120px;
        height: 150px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &::after {
        filter: blur(100px);
        content: "";
        background: #527475;
        width: 120px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        padding: 0 0 60px 0;

        @include respond-to("md") {
            padding: 0 20px 60px 20px;
        }

        @include respond-to("sm") {
            padding: 0 20px 40px 20px;
        }

        h2 {
            color: #121212;
            text-align: center;
            font-size: 62px;
            font-style: normal;
            font-weight: 700;
            line-height: 82px;
            text-transform: capitalize;
            font-family: var(--font-el-messiri);

            @include respond-to("xl") {
                font-size: 50px;
                line-height: 60px;
            }

            @include respond-to("sm") {
                font-size: 36px;
                line-height: 41px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include respond-to("md") {
            display: flex;
            overflow: auto;
            gap: 20px;
            padding: 0 20px;
            scrollbar-width: none;
        }

        .items {
            border-radius: 24px;
            border: 1px solid rgba(0, 0, 0, 0.20);
            background: #FFF;
            box-shadow: 0 0 43.8px 0 rgba(0, 0, 0, 0.08);
            position: relative;

            @include respond-to("md") {
                width: 320px;
                max-width: 320px;
                min-width: 320px;
                box-shadow: none;
            }

            @include respond-to("sm") {
                border-radius: 12px;
            }

            .detailsBox {
                border-radius: 15px 15px 24px 24px;
                background: #F7F8FA;
                position: absolute;
                bottom: 0;
                padding: 24px;
                left: 0;
                width: 100%;
                box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.10);

                @include respond-to("sm") {
                    border-radius: 12px;
                }

                @include respond-to("xl") {
                    padding: 20px;
                }

                @include respond-to("md") {
                    padding: 16px;
                }

                h3 {
                    margin: 18px 0 12px 0;
                    color: #121212;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26.4px;
                    text-transform: capitalize;

                    @include respond-to("xl") {
                        font-size: 20px;
                        margin: 12px 0;
                    }
                }

                p {
                    color: #727272;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    max-width: 390px;
                    line-height: 30px;

                    @include respond-to("md") {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                button {
                    border: none;
                    color: #121212;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 100px;
                    background: #D9E1E1;
                    padding: 6px 20px;

                    @include respond-to("xl") {
                        font-size: 14px;
                    }
                }
            }

            .image {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 24px;
                    height: 100%;

                    @include respond-to("sm") {
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}